openapi: 3.1.0
info:
  title: Nuntly REST API 1.x
  version: 1.0.0-alpha.12
  description: Nuntly REST API definition
  termsOfService: https://nuntly.com/legal/terms-of-service
  contact:
    name: Nuntly Support
    url: https://nuntly.com/docs
    email: support@nuntly.com
servers:
  - description: Nuntly API endpoint
    url: https://api.nuntly.com
externalDocs:
  description: Nuntly API Documentation
  url: https://nuntly.com/docs
security:
  - bearerAuth: []
tags:
  - name: API Keys
    description: Create and revoke API keys used to authenticate requests to the Nuntly API.
  - name: Agents
    description: Read and write persistent state for an AI agent, optionally scoped to a specific inbox or thread.
  - name: Domains
    description: Add and verify sending and receiving domains. Manage DKIM records, SPF configuration, and enable inbound email routing.
  - name: Emails
    description: Send transactional emails, retrieve sending history, and track delivery status per message.
  - name: Inboxes
    description: Create email inboxes at a specific address on a verified receiving domain. Assign inboxes to namespaces or AI agents.
  - name: Messages
    description: Access received messages, download attachments, and send replies or forwards from an inbox.
  - name: Namespaces
    description: Isolate inboxes by tenant, client, or agent using namespaces. Use an external ID to map namespaces to your own data model.
  - name: Organizations
    description: Manage your organization profile, team members, and account-level settings.
  - name: Threads
    description: Browse email conversations grouped by subject. Mark threads as read or spam, and assign them to an agent.
  - name: Webhooks
    description: Register HTTP endpoints to receive real-time delivery events such as bounces, opens, and clicks.
  - name: Webhooks Events
    description: Inspect webhook event history and replay failed deliveries for debugging or recovery.
  - name: Webhooks Hook
    description: Endpoint your server implements to receive webhook events. Not a Nuntly API endpoint - this documents the shape your handler must accept.
paths:
  /agents/{agentId}/memory:
    get:
      summary: Retrieve Agent Memory
      description: Retrieve the memory for an AI agent.
      operationId: retrieve-agent-memory
      tags:
        - Agents
      parameters:
        - name: agentId
          in: path
          required: true
          description: The agent identifier.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AgentMemory"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: Upsert Agent Memory
      description: Create or update the memory for an AI agent.
      operationId: upsert-agent-memory
      tags:
        - Agents
      parameters:
        - name: agentId
          in: path
          required: true
          description: The agent identifier.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentMemoryRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AgentMemory"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api-keys:
    post:
      summary: Create Api Key
      description: Generate a new API key. The key value is only returned once — store it securely.
      operationId: create-api-key
      tags:
        - API Keys
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CreateApiKeyResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List Api Keys
      description: Returns all API keys for the organization. Key values are never included in list responses.
      operationId: list-api-keys
      tags:
        - API Keys
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiKeysResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api-keys/{id}:
    delete:
      summary: Delete Api Key
      description: Revoke an API key. Requests authenticating with this key will be rejected immediately.
      operationId: delete-api-key
      tags:
        - API Keys
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the api key
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DeleteApiKeyResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: Retrieve Api Key
      description: Returns API key metadata. The key value is never returned after creation.
      operationId: retrieve-api-key
      tags:
        - API Keys
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the api key
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ApiKeyResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: Update Api Key
      description: Update the key name, permissions, or restrict it to specific sending domains.
      operationId: update-api-key
      tags:
        - API Keys
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the api key
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApiKeyRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UpdateApiKeyResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /domains:
    post:
      summary: Create Domain
      description: Add a domain to start configuring DNS records for sending or receiving emails.
      operationId: create-domain
      tags:
        - Domains
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDomainRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CreateDomainResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List Domains
      description: Returns all domains with their verification and capability status.
      operationId: list-domains
      tags:
        - Domains
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DomainsResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /domains/{id}:
    delete:
      summary: Delete Domain
      description: Permanently deletes a domain along with its inboxes, received messages, attachments, and sending configuration. This action is irreversible.
      operationId: delete-domain
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the domain
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DeleteDomainResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: Retrieve Domain
      description: Returns a domain with its DNS record configuration and current verification status for each record.
      operationId: retrieve-domain
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the domain
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DomainRecordsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update Domain
      description: Toggle sending, receiving, open tracking, or click tracking capabilities for a domain.
      operationId: update-domain
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the domain
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDomainRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UpdateDomainResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /emails:
    get:
      summary: List Emails
      description: Returns sent emails ordered by submission date, newest first.
      operationId: list-emails
      tags:
        - Emails
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EmailsResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Send Email
      description: Send transactional emails through Nuntly platform. It supports HTML and plain-text emails, attachments, labels, custom headers and scheduling.
      operationId: send-email
      tags:
        - Emails
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEmailRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CreateEmailResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /emails/{id}:
    delete:
      summary: Cancel Email
      description: Cancel a scheduled email before delivery. Only emails with `scheduled` status can be cancelled.
      operationId: cancel-email
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the email
          schema:
            type: string
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DeleteEmailResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: Retrieve Email
      description: Returns an email with its current delivery status and metadata.
      operationId: retrieve-email
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the email
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmailResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /emails/{id}/content:
    get:
      summary: Retrieve Email Content
      description: Returns presigned URLs to download the HTML, plain-text, and raw MIME source of a sent email.
      operationId: retrieve-email-content
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmailContentResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /emails/{id}/events:
    get:
      summary: Retrieve Email Events
      description: Returns the full delivery event history for an email (sent, delivered, opened, bounced, etc.).
      operationId: retrieve-email-events
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmailEventsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /emails/bulk:
    post:
      summary: Send Bulk Emails
      description: Send up to 20 emails in a single request. Use `fallback` to set default values shared across all messages.
      operationId: send-bulk-emails
      tags:
        - Emails
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBulkEmailsRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CreateBulkEmailsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /emails/bulk/{bulkId}:
    get:
      summary: Retrieve Bulk Emails
      description: Returns the delivery status of all emails submitted in a bulk request.
      operationId: retrieve-bulk-emails
      tags:
        - Emails
      parameters:
        - name: bulkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BulkEmailsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /emails/stats:
    get:
      summary: Retrieve Email Stats
      description: Returns aggregated daily sending statistics for the current period.
      operationId: retrieve-email-stats
      tags:
        - Emails
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmailsStatsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /inboxes:
    post:
      summary: Create Inbox
      description: Create a new inbox on a verified domain.
      operationId: create-inbox
      tags:
        - Inboxes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInboxRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InboxResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List Inboxes
      description: List all inboxes.
      operationId: list-inboxes
      tags:
        - Inboxes
      parameters:
        - name: cursor
          in: query
          description: The cursor to retrieve the next page of results
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to return
          schema:
            type: number
        - name: namespaceId
          in: query
          description: Filter by namespace.
          schema:
            type: string
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/InboxesResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /inboxes/{inboxId}:
    delete:
      summary: Delete Inbox
      description: Soft-delete an inbox.
      operationId: delete-inbox
      tags:
        - Inboxes
      parameters:
        - name: inboxId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: Retrieve Inbox
      description: Retrieve an inbox with thread stats.
      operationId: retrieve-inbox
      tags:
        - Inboxes
      parameters:
        - name: inboxId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InboxDetailResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update Inbox
      description: Update an inbox.
      operationId: update-inbox
      tags:
        - Inboxes
      parameters:
        - name: inboxId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInboxRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /inboxes/{inboxId}/messages:
    post:
      summary: Send Inbox Message
      description: Send a new message from an inbox.
      operationId: send-inbox-message
      tags:
        - Inboxes
      parameters:
        - name: inboxId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SendMessageResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /inboxes/{inboxId}/threads:
    get:
      summary: List Inbox Threads
      description: List threads in an inbox.
      operationId: list-inbox-threads
      tags:
        - Threads
      parameters:
        - name: inboxId
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: The cursor to retrieve the next page of results
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to return
          schema:
            type: number
        - name: labels
          in: query
          description: Comma-separated labels to filter by (AND logic). Threads with spam/trash are excluded by default unless explicitly requested via ?labels=spam or ?labels=trash.
          schema:
            type: string
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ThreadsResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /messages:
    get:
      summary: List Messages
      description: List all received messages across inboxes.
      operationId: list-messages
      tags:
        - Messages
      parameters:
        - name: cursor
          in: query
          description: The cursor to retrieve the next page of results
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to return
          schema:
            type: number
        - name: domainId
          in: query
          description: Filter by domain.
          schema:
            type: string
        - name: from
          in: query
          description: Filter by sender address.
          schema:
            type: string
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MessagesResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /messages/{messageId}:
    get:
      summary: Retrieve Message
      description: Retrieve a single message with inbox enrichment.
      operationId: retrieve-message
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          description: The email Message-ID header.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MessageResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update Message
      description: Update message labels. Only available for messages in user-created inboxes.
      operationId: update-message
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMessageRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /messages/{messageId}/attachments:
    get:
      summary: List Message Attachments
      description: List all attachments for a message.
      operationId: list-message-attachments
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttachmentsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /messages/{messageId}/attachments/{attachmentId}:
    get:
      summary: Retrieve Message Attachment
      description: Retrieve an attachment with a presigned download URL.
      operationId: retrieve-message-attachment
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
        - name: attachmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttachmentResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /messages/{messageId}/content:
    get:
      summary: Retrieve Message Content
      description: Returns presigned URLs to download the HTML, plain-text, and raw MIME source of a received message.
      operationId: retrieve-message-content
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MessageContent"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /messages/{messageId}/forward:
    post:
      summary: Forward Message
      description: Forward a message to new recipients.
      operationId: forward-message
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          description: The RFC 5322 Message-ID header.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardMessageRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SendMessageResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /messages/{messageId}/reply:
    post:
      summary: Reply To Message
      description: Reply to a message. Set replyAll to true to reply to all recipients.
      operationId: reply-to-message
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          description: The RFC 5322 Message-ID header.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplyMessageRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SendMessageResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /namespaces:
    post:
      summary: Create Namespace
      description: Create a new namespace.
      operationId: create-namespace
      tags:
        - Namespaces
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNamespaceRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NamespaceResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List Namespaces
      description: List all namespaces.
      operationId: list-namespaces
      tags:
        - Namespaces
      parameters:
        - name: cursor
          in: query
          description: The cursor to retrieve the next page of results
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to return
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NamespacesResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /namespaces/{namespaceId}:
    delete:
      summary: Delete Namespace
      description: Soft-delete a namespace. Rejects if it has active inboxes.
      operationId: delete-namespace
      tags:
        - Namespaces
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: Retrieve Namespace
      description: Retrieve a namespace with inbox stats.
      operationId: retrieve-namespace
      tags:
        - Namespaces
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NamespaceDetail"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update Namespace
      description: Update a namespace.
      operationId: update-namespace
      tags:
        - Namespaces
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNamespaceRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /namespaces/{namespaceId}/inboxes:
    get:
      summary: List Namespace Inboxes
      description: List inboxes in a namespace.
      operationId: list-namespace-inboxes
      tags:
        - Namespaces
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: The cursor to retrieve the next page of results
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results to return
          schema:
            type: number
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/InboxesResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations:
    get:
      summary: Retrieve Organizations
      description: Returns all organizations the authenticated user belongs to.
      operationId: retrieve-organizations
      tags:
        - Organizations
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrganizationsResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/{id}:
    get:
      summary: Retrieve Organization
      description: Returns the organization's profile, plan, region, and account status.
      operationId: retrieve-organization
      tags:
        - Organizations
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrganizationResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /organizations/{id}/usage:
    get:
      summary: Retrieve Organization Usage
      description: Returns current period usage metrics (daily and monthly) for sending and receiving, against your plan limits.
      operationId: retrieve-organization-usage
      tags:
        - Organizations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrganizationUsageResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /threads/{threadId}:
    get:
      summary: Retrieve Thread
      description: Retrieve a thread. Pass ?markRead=true to automatically remove the unread label from all messages.
      operationId: retrieve-thread
      tags:
        - Threads
      parameters:
        - name: threadId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ThreadResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update Thread
      description: Update thread labels and agent assignment. Label operations apply to all messages in the thread.
      operationId: update-thread
      tags:
        - Threads
      parameters:
        - name: threadId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateThreadRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /threads/{threadId}/messages:
    get:
      summary: List Thread Messages
      description: List messages in a thread (chronological order).
      operationId: list-thread-messages
      tags:
        - Threads
      parameters:
        - name: threadId
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ThreadMessagesResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /webhooks:
    post:
      summary: Create Webhook
      description: Register an endpoint to start receiving webhook events for your organization.
      operationId: create-webhook
      tags:
        - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CreateWebhookResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List Webhooks
      description: Returns all registered webhook endpoints for the organization.
      operationId: list-webhooks
      tags:
        - Webhooks
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebhooksResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /webhooks/{id}:
    delete:
      summary: Delete Webhook
      description: Remove a webhook endpoint. No further events will be delivered to this URL.
      operationId: delete-webhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the webhook
          schema:
            type: string
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DeleteWebhookResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: Retrieve Webhook
      description: Returns a webhook endpoint with its URL, subscribed events, and configuration.
      operationId: retrieve-webhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the webhook
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WebhookResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      summary: Update Webhook
      description: Update the endpoint URL, subscribed event types, or rotate the signing secret.
      operationId: update-webhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the webhook
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UpdateWebhookResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /webhooks/{id}/events/{eventId}/deliveries:
    get:
      summary: List Webhook Event Deliveries
      description: Returns all delivery attempts for a webhook event, including HTTP status codes and response times.
      operationId: list-webhook-event-deliveries
      tags:
        - Webhooks Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WebhookEventDeliveriesResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /webhooks/{id}/events/{eventId}/replay:
    post:
      summary: Replay Webhook Event
      description: Re-deliver a webhook event to its endpoint. Useful for retrying failed deliveries.
      operationId: replay-webhook-event
      tags:
        - Webhooks Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      responses:
        "202":
          description: Request accepted.
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /webhooks/events:
    get:
      summary: List Webhooks Events
      description: Returns recent webhook events across all registered endpoints.
      operationId: list-webhooks-events
      tags:
        - Webhooks Events
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebhookEventsResponseItem"
                  nextCursor:
                    type: string
                    nullable: true
                required:
                  - data
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
webhooks:
  webhook-endpoint:
    post:
      summary: Webhook Endpoint
      description: Endpoint your application exposes to receive webhook events from Nuntly. The request body is a single event from the `Event` discriminated union.
      tags:
        - Webhooks Hook
      operationId: webhook-endpoint
      security:
        []
      requestBody:
        description: Nuntly webhook event payload
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Event"
      responses:
        200:
          description: Webhook received successfully
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    AgentMemory:
      type: object
      required:
        - id
        - createdAt
        - agentId
        - inboxId
        - threadId
        - memory
        - summary
      properties:
        id:
          description: The agent memory record id.
          type: string
        createdAt:
          description: Date at which the object was created (ISO 8601 format)
          type: string
        updatedAt:
          description: Date at which the object was updated (ISO 8601 format)
          type: string
        agentId:
          description: The agent identifier.
          type: string
        inboxId:
          description: The inbox id.
          type: string
          nullable: true
        threadId:
          description: The thread id.
          type: string
          nullable: true
        memory:
          description: The agent memory data.
          type: object
          additionalProperties: true
        summary:
          description: The conversation summary.
          type: string
          nullable: true
    AgentMemoryRequest:
      type: object
      required:
        - memory
      properties:
        inboxId:
          description: The inbox id to scope the memory to.
          type: string
        threadId:
          description: The thread id to scope the memory to.
          type: string
        memory:
          description: The agent memory key-value data.
          type: object
          additionalProperties: true
        summary:
          description: A human-readable conversation summary.
          type: string
          nullable: true
    ApiKeyResponse:
      type: object
      required:
        - id
        - shortToken
        - status
        - createdAt
      properties:
        id:
          description: The id of the api key
          type: string
        name:
          description: The name of the api key
          type: string
        shortToken:
          description: The last 6 characters of the api key token
          type: string
        status:
          description: The status for the api key
          type: string
          enum:
            - enabled
            - disabled
            - revoked
        createdAt:
          description: Date at which the object was created (ISO 8601 format)
          type: string
    ApiKeysResponseItem:
      type: object
      required:
        - id
        - shortToken
        - status
        - createdAt
      properties:
        id:
          description: The id of the api key
          type: string
        name:
          description: The name of the api key
          type: string
        shortToken:
          description: The last 6 characters of the api key token
          type: string
        status:
          description: The status for the api key
          type: string
          enum:
            - enabled
            - disabled
            - revoked
        createdAt:
          description: Date at which the object was created (ISO 8601 format)
          type: string
    Attachment:
      type: object
      required:
        - content
      properties:
        content:
          description: The base64-encoded content of the attachment
          type: string
        filename:
          description: The name of the attached file to be displayed to the recipient
          type: string
        contentType:
          description: Content type of the attachment (the MIME type)
          type: string
    AttachmentResponse:
      type: object
      required:
        - id
        - filename
        - contentType
        - size
        - contentDisposition
        - contentId
      properties:
        id:
          description: The id of the attachment
          type: string
        filename:
          description: The original filename.
          type: string
          nullable: true
        contentType:
          description: The MIME content type.
          type: string
        size:
          description: The size in bytes.
          type: number
        contentDisposition:
          description: The content disposition (inline or attachment).
          type: string
          nullable: true
        contentId:
          description: The CID for inline images.
          type: string
          nullable: true
        downloadUrl:
          description: Presigned download URL (included when retrieving a single attachment).
          type: string
    AttachmentsResponse:
      type: array
      items:
        $ref: "#/components/schemas/AttachmentResponse"
    BulkEmailsResponse:
      type: object
      required:
        - id
        - emails
      properties:
        id:
          type: string
        emails:
          type: array
          items:
            type: object
            required:
              - id
              - status
            properties:
              id:
                type: string
              status:
                $ref: '#/components/schemas/EmailStatus'
              detail:
                type: string
    CreateApiKeyRequest:
      type: object
      required:
        - permission
      properties:
        name:
          description: The name of the api key
          type: string
        status:
          description: The status for the api key
          type: string
          enum:
            - enabled
            - disabled
            - revoked
        permission:
          description: The permission type for the api key
          type: string
          enum:
            - fullAccess
            - sendingAccess
        domainIds:
          description: The domain ids to restrict the api key to (only for sendingAccess)
          type: array
          items:
            type: string
    CreateApiKeyResponse:
      type: object
      required:
        - id
        - apiKey
        - shortToken
        - status
      properties:
        id:
          description: The id of the api key
          type: string
        name:
          description: The name of the api key
          type: string
        apiKey:
          description: The content of the api key
          type: string
        shortToken:
          description: The last 6 characters of the api key token
          type: string
        status:
          description: The status for the api key
          type: string
          enum:
            - enabled
            - disabled
            - revoked
    CreateBulkEmailsRequest:
      type: object
      required:
        - emails
      properties:
        fallback:
          description: Used as a fallback field email value if no value is present in emails
          type: object
          properties:
            from:
              type: string
            to:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            cc:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            bcc:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            replyTo:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            subject:
              type: string
            text:
              type: string
            html:
              type: string
            headers:
              type: object
              additionalProperties: true
            tags:
              type: array
              items:
                $ref: '#/components/schemas/Tag'
            variables:
              type: object
              additionalProperties: true
            scheduledAt:
              type: string
        emails:
          description: The bulk emails to send
          type: array
          items:
            type: object
            properties:
              from:
                type: string
              to:
                anyOf:
                  - type: array
                    items:
                      type: string
                  - type: string
              cc:
                anyOf:
                  - type: array
                    items:
                      type: string
                  - type: string
              bcc:
                anyOf:
                  - type: array
                    items:
                      type: string
                  - type: string
              replyTo:
                anyOf:
                  - type: array
                    items:
                      type: string
                  - type: string
              subject:
                type: string
              text:
                type: string
              html:
                type: string
              headers:
                type: object
                additionalProperties: true
              tags:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
              variables:
                type: object
                additionalProperties: true
              scheduledAt:
                type: string
    CreateBulkEmailsResponse:
      type: object
      required:
        - emails
      properties:
        id:
          description: The bulk id
          type: string
        emails:
          type: array
          items:
            type: object
            required:
              - status
            properties:
              id:
                type: string
              status:
                $ref: '#/components/schemas/EmailStatus'
    CreateDomainRequest:
      type: object
      required:
        - name
      properties:
        name:
          description: The name of the domain to send e-mails'
          type: string
        sending:
          description: Enable sending
          type: boolean
        receiving:
          description: Enable receiving
          type: boolean
    CreateDomainResponse:
      type: object
      required:
        - id
        - name
        - createdAt
        - status
        - region
        - statusAt
        - sending
        - receiving
        - sendingStatus
        - sendingStatusAt
        - receivingStatus
        - receivingStatusAt
        - openTracking
        - clickTracking
        - records
      properties:
        id:
          description: The id of the domain
          type: string
        name:
          description: The name of the domain to send e-mails'
          type: string
        createdAt:
          description: Date at which the object was created (ISO 8601 format)
          type: string
        status:
          description: The status for the domain
          $ref: '#/components/schemas/DomainStatus'
        region:
          description: The region of the domain data
          type: string
          enum:
            - eu-west-1
        statusAt:
          description: The date of the lastest verification of this record
          type: string
        sending:
          description: Whether sending is enabled for the domain
          type: boolean
        receiving:
          description: Whether receiving is enabled for the domain
          type: boolean
        sendingStatus:
          description: The sending status for the domain
          type: string
          enum:
            - enabled
            - disabled
            - paused
        sendingStatusAt:
          description: The date of the latest sending status change
          type: string
        receivingStatus:
          description: The receiving status for the domain
          $ref: '#/components/schemas/DomainStatus'
        receivingStatusAt:
          description: The date of the latest receiving status change
          type: string
        openTracking:
          description: Emit an event for each recipient opens an email their email client
          type: boolean
        clickTracking:
          description: Emit an event for each time the recipient clicks a link in the email
          type: boolean
        records:
          description: The DNS records for your domain.
          type: array
          items:
            type: object
            required:
              - name
              - fullname
              - recordType
              - ttl
              - group
              - value
              - status
              - statusAt
            properties:
              name:
                type: string
              fullname:
                type: string
              recordType:
                type: string
                enum:
                  - TXT
                  - MX
                  - CNAME
              ttl:
                type: string
              group:
                type: string
                enum:
                  - DKIM
                  - SPF
                  - MX
                  - DMARC
                  - MX_RECEIVING
              selector:
                type: string
              priority:
                type: string
              value:
                type: string
              status:
                $ref: '#/components/schemas/DomainStatus'
              statusAt:
                type: string
    CreateEmailRequest:
      type: object
      required:
        - from
        - to
        - subject
      properties:
        from:
          description: The e-mail address of the sender
          type: string
        to:
          description: The primary recipient(s) of the email
          anyOf:
            - type: array
              items:
                type: string
            - type: string
        cc:
          description: The carbon copy recipient(s) of the email
          anyOf:
            - type: array
              items:
                type: string
            - type: string
        bcc:
          description: The blind carbon copy recipient(s) of the email
          anyOf:
            - type: array
              items:
                type: string
            - type: string
        replyTo:
          description: The email address where replies should be sent. If a recipient replies, the response will go to this address instead of the sender's email address
          anyOf:
            - type: array
              items:
                type: string
            - type: string
        subject:
          description: The subject of the e-mail
          type: string
        text:
          description: The plaintext version of the email
          type: string
        html:
          description: The HTML version of the email
          type: string
        headers:
          description: The headers to add to the email
          type: object
          additionalProperties: true
        tags:
          description: The tags to add to the email
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        attachments:
          description: The attachements to add to the email
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        variables:
          description: The variables for the template
          type: object
          additionalProperties: true
        scheduledAt:
          description: The date at which the email is scheduled to be sent
          type: string
    CreateEmailResponse:
      type: object
      required:
        - id
        - status
      properties:
        id:
          description: The id of the email
          type: string
        status:
          description: The status of the email.
          $ref: '#/components/schemas/EmailStatus'
    CreateInboxRequest:
      type: object
      required:
        - address
      properties:
        domainId:
          description: The id of the domain for this inbox. Defaults to your provided domain when omitted.
          type: string
        address:
          description: The local-part of the email address (before the @).
          type: string
        name:
          description: The display name of the inbox.
          type: string
        namespaceId:
          description: The id of the namespace to assign the inbox to.
          type: string
        agentId:
          description: The external AI agent identifier.
          type: string
    CreateNamespaceRequest:
      type: object
      required:
        - name
      properties:
        name:
          description: The display name of the namespace.
          type: string
        externalId:
          description: An optional external identifier for the namespace.
          type: string
    CreateWebhookRequest:
      type: object
      required:
        - endpointUrl
        - events
      properties:
        name:
          description: The name of the webhook
          type: string
        endpointUrl:
          description: The endpoint URL of the webhook
          type: string
        status:
          description: The status of the webhook.
          type: string
          enum:
            - enabled
            - disabled
        events:
          description: The event types to subscribe to
          type: array
          items:
            $ref: '#/components/schemas/EventType'
    CreateWebhookResponse:
      type: object
      required:
        - id
        - endpointUrl
        - status
        - events
        - signingSecret
        - createdAt
      properties:
        id:
          description: The id of the webhook
          type: string
        name:
          description: The name of the webhook
          type: string
        endpointUrl:
          description: The endpoint URL of the webhook
          type: string
        status:
          description: The status of the webhook.
          type: string
          enum:
            - enabled
            - disabled
            - revoked
        events:
          description: The event types to subscribe to
          type: array
          items:
            $ref: '#/components/schemas/EventType'
        signingSecret:
          description: The signing secret of the webhook.
          type: string
        createdAt:
          description: Date at which the object was created (ISO 8601 format)
          type: string
    DeleteApiKeyResponse:
      type: object
      required:
        - id
      properties:
        id:
          description: The id of the api key
          type: string
    DeleteDomainResponse:
      type: object
      required:
        - id
      properties:
        id:
          description: The id of the domain
          type: string
    DeleteEmailResponse:
      type: object
      required:
        - id
        - status
      properties:
        id:
          description: The id of the email
          type: string
        status:
          description: The status of the email.
          $ref: '#/components/schemas/EmailStatus'
    DeleteWebhookResponse:
      type: object
      required:
        - id
      properties:
        id:
          description: The id of the webhook
          type: string
    DomainRecordsResponse:
      type: object
      required:
        - id
        - name
        - createdAt
        - status
        - region
        - statusAt
        - sending
        - receiving
        - sendingStatus
        - sendingStatusAt
        - receivingStatus
        - receivingStatusAt
        - openTracking
        - clickTracking
        - records
      properties:
        id:
          description: The id of the domain
          type: string
        name:
          description: The name of the domain to send e-mails'
          type: string
        createdAt:
          description: Date at which the object was created (ISO 8601 format)
          type: string
        status:
          description: The status for the domain
          $ref: '#/components/schemas/DomainStatus'
        region:
          description: The region of the domain data
          type: string
          enum:
            - eu-west-1
        statusAt:
          description: The date of the lastest verification of this record
          type: string
        sending:
          description: Whether sending is enabled for the domain
          type: boolean
        receiving:
          description: Whether receiving is enabled for the domain
          type: boolean
        sendingStatus:
          description: The sending status for the domain
          type: string
          enum:
            - enabled
            - disabled
            - paused
        sendingStatusAt:
          description: The date of the latest sending status change
          type: string
        receivingStatus:
          description: The receiving status for the domain
          $ref: '#/components/schemas/DomainStatus'
        receivingStatusAt:
          description: The date of the latest receiving status change
          type: string
        openTracking:
          description: Emit an event for each recipient opens an email their email client
          type: boolean
        clickTracking:
          description: Emit an event for each time the recipient clicks a link in the email
          type: boolean
        records:
          description: The DNS records for your domain.
          type: array
          items:
            type: object
            required:
              - name
              - fullname
              - recordType
              - ttl
              - group
              - value
              - status
              - statusAt
            properties:
              name:
                type: string
              fullname:
                type: string
              recordType:
                type: string
                enum:
                  - TXT
                  - MX
                  - CNAME
              ttl:
                type: string
              group:
                type: string
                enum:
                  - DKIM
                  - SPF
                  - MX
                  - DMARC
                  - MX_RECEIVING
              selector:
                type: string
              priority:
                type: string
              value:
                type: string
              status:
                $ref: '#/components/schemas/DomainStatus'
              statusAt:
                type: string
    DomainsResponseItem:
      type: object
      required:
        - id
        - name
        - status
        - sendingStatus
        - receivingStatus
        - createdAt
        - region
      properties:
        id:
          description: The id of the domain
          type: string
        name:
          description: The name of the domain to send e-mails'
          type: string
        status:
          description: The status for the domain
          $ref: '#/components/schemas/DomainStatus'
        sendingStatus:
          description: The sending status for the domain
          type: string
          enum:
            - enabled
            - disabled
            - paused
        receivingStatus:
          description: The receiving status for the domain
          $ref: '#/components/schemas/DomainStatus'
        createdAt:
          description: Date at which the object was created (ISO 8601 format)
          type: string
        region:
          description: The region of the domain data
          type: string
          enum:
            - eu-west-1
    DomainStatus:
      type: string
      enum:
        - bootstrapping
        - pending
        - success
        - failed
        - temporary_failure
    EmailBouncedEvent:
      type: object
      required:
        - id
        - createdAt
        - type
        - data
      properties:
        id:
          type: string
        createdAt:
          type: string
        type:
          type: string
          enum:
            - email.bounced
        data:
          type: object
          required:
            - id
            - orgId
            - messageId
            - sentAt
            - enqueuedAt
            - domainName
            - domainId
            - from
            - to
            - subject
            - bounce
          properties:
            id:
              type: string
            orgId:
              type: string
            bulkId:
              type: string
            messageId:
              type: string
            sentAt:
              type: string
            enqueuedAt:
              type: string
            domainName:
              type: string
            domainId:
              type: string
            from:
              type: string
            to:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            cc:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            bcc:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            replyTo:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            subject:
              type: string
            headers:
              type: array
              items:
                type: object
                required:
                  - name
                  - value
                properties:
                  name:
                    type: string
                  value:
                    type: string
            tags:
              type: object
              additionalProperties: true
            bounce:
              type: object
              required:
                - bounceType
                - bounceSubType
                - bouncedRecipients
                - bouncedAt
                - feedbackId
              properties:
                bounceType:
                  type: string
                  enum:
                    - Permanent
                    - Undetermined
                    - Transient
                bounceSubType:
                  type: string
                  enum:
                    - Undetermined
                    - General
                    - NoEmail
                    - Suppressed
                    - OnAccountSuppressionList
                    - MailboxFull
                    - MessageTooLarge
                    - CustomTimeoutExceeded
                    - ContentRejected
                    - AttachmentRejected
                bouncedRecipients:
                  type: array
                  items:
                    type: object
                    required:
                      - email
                    properties:
                      email:
                        type: string
                      action:
                        type: string
                      status:
                        type: string
                      diagnosticCode:
                        type: string
                bouncedAt:
                  type: string
                feedbackId:
                  type: string
                reportingMta:
                  type: string
    EmailClickedEvent:
      type: object
      required:
        - id
        - createdAt
        - type
        - data
      properties:
        id:
          type: string
        createdAt:
          type: string
        type:
          type: string
          enum:
            - email.clicked
        data:
          type: object
          required:
            - id
            - orgId
            - messageId
            - sentAt
            - enqueuedAt
            - domainName
            - domainId
            - from
            - to
            - subject
            - click
          properties:
            id:
              type: string
            orgId:
              type: string
            bulkId:
              type: string
            messageId:
              type: string
            sentAt:
              type: string
            enqueuedAt:
              type: string
            domainName:
              type: string
            domainId:
              type: string
            from:
              type: string
            to:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            cc:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            bcc:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            replyTo:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            subject:
              type: string
            headers:
              type: array
              items:
                type: object
                required:
                  - name
                  - value
                properties:
                  name:
                    type: string
                  value:
                    type: string
            tags:
              type: object
              additionalProperties: true
            click:
              type: object
              required:
                - clickedAt
                - userAgent
                - link
              properties:
                clickedAt:
                  type: string
                userAgent:
                  type: string
                link:
                  type: string
    EmailComplainedEvent:
      type: object
      required:
        - id
        - createdAt
        - type
        - data
      properties:
        id:
          type: string
        createdAt:
          type: string
        type:
          type: string
          enum:
            - email.complained
        data:
          type: object
          required:
            - id
            - orgId
            - messageId
            - sentAt
            - enqueuedAt
            - domainName
            - domainId
            - from
            - to
            - subject
            - complaint
          properties:
            id:
              type: string
            orgId:
              type: string
            bulkId:
              type: string
            messageId:
              type: string
            sentAt:
              type: string
            enqueuedAt:
              type: string
            domainName:
              type: string
            domainId:
              type: string
            from:
              type: string
            to:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            cc:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            bcc:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            replyTo:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            subject:
              type: string
            headers:
              type: array
              items:
                type: object
                required:
                  - name
                  - value
                properties:
                  name:
                    type: string
                  value:
                    type: string
            tags:
              type: object
              additionalProperties: true
            complaint:
              type: object
              required:
                - complainedAt
                - feedbackId
              properties:
                complainedAt:
                  type: string
                complainedRecipients:
                  type: array
                  items:
                    type: object
                    required:
                      - email
                    properties:
                      email:
                        type: string
                complaintSubType:
                  type: string
                  enum:
                    - OnAccountSuppressionList
                complaintFeedbackType:
                  type: string
                  enum:
                    - abuse
                    - auth-failure
                    - fraud
                    - not-spam
                    - other
                    - virus
                feedbackId:
                  type: string
                userAgent:
                  type: string
                receivedAt:
                  type: string
    EmailContentItem:
      type: object
      required:
        - downloadUrl
        - size
        - expiresAt
      properties:
        downloadUrl:
          description: Presigned download URL.
          type: string
        size:
          description: Uncompressed size in bytes.
          type: number
          nullable: true
        expiresAt:
          description: When the URL expires.
          type: string
    EmailContentResponse:
      type: object
      required:
        - html
        - text
        - mime
        - subjectTemplate
        - htmlTemplate
        - textTemplate
      properties:
        html:
          description: HTML content, or `null` if unavailable.
          $ref: '#/components/schemas/EmailContentItem'
          nullable: true
        text:
          description: Plain text content, or `null` if unavailable.
          $ref: '#/components/schemas/EmailContentItem'
          nullable: true
        mime:
          description: Raw MIME (.eml) content, or `null` if unavailable.
          $ref: '#/components/schemas/EmailContentItem'
          nullable: true
        subjectTemplate:
          description: Subject template content, or `null` if unavailable. Returned for failed emails only.
          $ref: '#/components/schemas/EmailContentItem'
          nullable: true
        htmlTemplate:
          description: HTML template content, or `null` if unavailable. Returned for failed emails only.
          $ref: '#/components/schemas/EmailContentItem'
          nullable: true
        textTemplate:
          description: Text template content, or `null` if unavailable. Returned for failed emails only.
          $ref: '#/components/schemas/EmailContentItem'
          nullable: true
    EmailDeliveredEvent:
      type: object
      required:
        - id
        - createdAt
        - type
        - data
      properties:
        id:
          type: string
        createdAt:
          type: string
        type:
          type: string
          enum:
            - email.delivered
        data:
          type: object
          required:
            - id
            - orgId
            - messageId
            - sentAt
            - enqueuedAt
            - domainName
            - domainId
            - from
            - to
            - subject
            - delivery
          properties:
            id:
              type: string
            orgId:
              type: string
            bulkId:
              type: string
            messageId:
              type: string
            sentAt:
              type: string
            enqueuedAt:
              type: string
            domainName:
              type: string
            domainId:
              type: string
            from:
              type: string
            to:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            cc:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            bcc:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            replyTo:
              anyOf:
                - type: array
                  items:
                    type: string
                - type: string
            subject:
              type: string
            headers:
              type: array
              items:
                type: object
                required:
                  - name
                  - value
                properties:
                  name:
                    type: string
                  value:
                    type: string
            tags:
              type: object
              additionalProperties: true
            delivery:
              type: object
              required:
                - deliveredAt
                - recipients
                - smtpResponse
                - remoteMtaIp
                - reportingMta
              properties:
                deliveredAt:
                  type: string
                recipients:
                  type: array
                  items:
                    type: string
                smtpResponse:
                  type: string
                remoteMtaIp:
                  type: string
[...]
