openapi: 3.1.0
info:
  title: Nuntly REST API 1.x
  version: 1.0.0-alpha.20
  description: Nuntly REST API definition
  termsOfService: https://nuntly.com/legal/terms-of-service
  contact:
    name: Nuntly Support
    url: https://nuntly.com/docs
    email: support@nuntly.com
servers:
  - description: Nuntly API endpoint
    url: https://api.nuntly.com
externalDocs:
  description: Nuntly API Documentation
  url: https://nuntly.com/docs
security:
  - bearerAuth: []
tags:
  - name: API Keys
    description: Create and revoke API keys used to authenticate requests to the Nuntly API.
  - name: Agents
    description: Read and write persistent state for an AI agent, optionally scoped to a specific inbox or thread.
  - name: Domains
    description: Add and verify sending and receiving domains. Manage DKIM records, SPF configuration, and enable inbound email routing.
  - name: Emails
    description: Send transactional emails, retrieve sending history, and track delivery status per message.
  - name: Inboxes
    description: Create email inboxes at a specific address on a verified receiving domain. Assign inboxes to namespaces or AI agents.
  - name: Messages
    description: Access received messages, download attachments, and send replies or forwards from an inbox.
  - name: Namespaces
    description: Isolate inboxes by tenant, client, or agent using namespaces. Use an external ID to map namespaces to your own data model.
  - name: Organizations
    description: Manage your organization profile, team members, and account-level settings.
  - name: Threads
    description: Browse email conversations grouped by subject. Mark threads as read or spam, and assign them to an agent.
  - name: Webhooks
    description: Register HTTP endpoints to receive real-time delivery events such as bounces, opens, and clicks.
  - name: Webhooks Events
    description: Inspect webhook event history and replay failed deliveries for debugging or recovery.
  - name: Webhooks Hook
    description: Endpoint your server implements to receive webhook events. Not a Nuntly API endpoint - this documents the shape your handler must accept.
paths:
  /agents/{agentId}/memory:
    get:
      summary: Retrieve Agent Memory
      description: Retrieve the memory for an AI agent.
      operationId: retrieve-agent-memory
      tags:
        - Agents
      parameters:
        - name: agentId
          in: path
          required: true
          description: The agent identifier.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AgentMemory"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/agents/aB3dE7fG/memory' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.agents.memory.retrieve('aB3dE7fG');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.agents().memory().retrieve("aB3dE7fG");
    put:
      summary: Upsert Agent Memory
      description: Create or update the memory for an AI agent.
      operationId: upsert-agent-memory
      tags:
        - Agents
      parameters:
        - name: agentId
          in: path
          required: true
          description: The agent identifier.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentMemoryRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AgentMemory"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PUT 'https://api.nuntly.com/agents/aB3dE7fG/memory' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"memory":{}}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.agents.memory.upsert('aB3dE7fG', {
              memory: {  },
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.agents().memory().upsert("aB3dE7fG", AgentMemoryRequest.builder()
                .memory(List.of(java.util.Map.of()))
                .build());
  /api-keys:
    post:
      summary: Create Api Key
      description: Generate a new API key. The key value is only returned once. Store it securely.
      operationId: create-api-key
      tags:
        - API Keys
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CreateApiKeyResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST 'https://api.nuntly.com/api-keys' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"name":"Production","permission":"fullAccess"}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.apiKeys.create({
              name: 'Production',
              permission: 'fullAccess',
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.apiKeys().create(CreateApiKeyRequest.builder()
                .name("Production")
                .permission("fullAccess")
                .build());
    get:
      summary: List Api Keys
      description: Returns all API keys for the organization. Key values are never included in list responses.
      operationId: list-api-keys
      tags:
        - API Keys
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiKeysResponseItem"
                  nextCursor:
                    type:
                      - string
                      - "null"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/api-keys' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.apiKeys.list();
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.apiKeys().list();
  /api-keys/{id}:
    delete:
      summary: Delete Api Key
      description: Revoke an API key. Requests authenticating with this key will be rejected immediately.
      operationId: delete-api-key
      tags:
        - API Keys
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the api key
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DeleteApiKeyResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE 'https://api.nuntly.com/api-keys/apk_01ka8k8s80gvx9604cn9am5st4' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.apiKeys.delete('apk_01ka8k8s80gvx9604cn9am5st4');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.apiKeys().delete("apk_01ka8k8s80gvx9604cn9am5st4");
    get:
      summary: Retrieve Api Key
      description: Returns API key metadata. The key value is never returned after creation.
      operationId: retrieve-api-key
      tags:
        - API Keys
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the api key
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ApiKeyResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/api-keys/apk_01ka8k8s80gvx9604cn9am5st4' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.apiKeys.retrieve('apk_01ka8k8s80gvx9604cn9am5st4');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.apiKeys().retrieve("apk_01ka8k8s80gvx9604cn9am5st4");
    patch:
      summary: Update Api Key
      description: Update the key name, permissions, or restrict it to specific sending domains.
      operationId: update-api-key
      tags:
        - API Keys
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the api key
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApiKeyRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UpdateApiKeyResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PATCH 'https://api.nuntly.com/api-keys/apk_01ka8k8s80gvx9604cn9am5st4' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"name":"Production"}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.apiKeys.update('apk_01ka8k8s80gvx9604cn9am5st4', {
              name: 'Production',
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.apiKeys().update("apk_01ka8k8s80gvx9604cn9am5st4", UpdateApiKeyRequest.builder()
                .name("Production")
                .build());
  /domains:
    post:
      summary: Create Domain
      description: Add a domain for sending or receiving emails.
      operationId: create-domain
      tags:
        - Domains
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDomainRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DomainRecordsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST 'https://api.nuntly.com/domains' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"name":"example.com"}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.domains.create({
              name: 'example.com',
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.domains().create(CreateDomainRequest.builder()
                .name("example.com")
                .build());
    get:
      summary: List Domains
      description: Returns all domains with their verification and capability status.
      operationId: list-domains
      tags:
        - Domains
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DomainsResponseItem"
                  nextCursor:
                    type:
                      - string
                      - "null"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/domains' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.domains.list();
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.domains().list();
  /domains/{id}:
    delete:
      summary: Delete Domain
      description: Permanently deletes a domain along with its inboxes, received messages, attachments, and sending configuration. This action is irreversible.
      operationId: delete-domain
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the domain
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DeleteDomainResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE 'https://api.nuntly.com/domains/dns_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.domains.delete('dns_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.domains().delete("dns_01kabn43yqyxn2bx4ve84mczd3");
    get:
      summary: Retrieve Domain
      description: Returns a domain with its DNS record configuration and current verification status for each record.
      operationId: retrieve-domain
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the domain
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DomainRecordsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/domains/dns_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.domains.retrieve('dns_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.domains().retrieve("dns_01kabn43yqyxn2bx4ve84mczd3");
    patch:
      summary: Update Domain
      description: Toggle sending, receiving, open tracking, or click tracking capabilities for a domain.
      operationId: update-domain
      tags:
        - Domains
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the domain
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDomainRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UpdateDomainResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PATCH 'https://api.nuntly.com/domains/dns_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"openTracking":true,"clickTracking":true}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.domains.update('dns_01kabn43yqyxn2bx4ve84mczd3', {
              openTracking: true,
              clickTracking: true,
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.domains().update("dns_01kabn43yqyxn2bx4ve84mczd3", UpdateDomainRequest.builder()
                .openTracking(true)
                .clickTracking(true)
                .build());
  /emails:
    get:
      summary: List Emails
      description: Returns sent emails ordered by submission date, newest first.
      operationId: list-emails
      tags:
        - Emails
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EmailsResponseItem"
                  nextCursor:
                    type:
                      - string
                      - "null"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/emails' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.emails.list();
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.emails().list();
    post:
      summary: Send Email
      description: Send transactional emails through Nuntly platform. It supports HTML and plain-text emails, attachments, labels, custom headers and scheduling.
      operationId: send-email
      tags:
        - Emails
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: Unique key to ensure the request is processed at most once. UUIDv4 recommended.
          schema:
            type: string
            minLength: 1
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEmailRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CreateEmailResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST 'https://api.nuntly.com/emails' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"from":"Tomlinson AI <ray@info.tomlinson.ai>","to":"brian67@gmail.com","subject":"Verify your email address","text":"Thank you for signing up! Please verify your email address.","html":"<h1>Welcome 🎉</h1><p>Thank you for signing up! Please verify your email address.</p>","tags":[{"name":"category","value":"transactional"}]}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.emails.send({
              from: 'Tomlinson AI <ray@info.tomlinson.ai>',
              to: 'brian67@gmail.com',
              subject: 'Verify your email address',
              text: 'Thank you for signing up! Please verify your email address.',
              html: '<h1>Welcome 🎉</h1><p>Thank you for signing up! Please verify your email address.</p>',
              tags: [{ name: 'category', value: 'transactional' }],
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.emails().send(CreateEmailRequest.builder()
                .from("Tomlinson AI <ray@info.tomlinson.ai>")
                .to(List.of("brian67@gmail.com"))
                .subject("Verify your email address")
                .text("Thank you for signing up! Please verify your email address.")
                .html("<h1>Welcome 🎉</h1><p>Thank you for signing up! Please verify your email address.</p>")
                .tags(List.of(Tag.builder().name("category").value("transactional").build()))
                .build());
  /emails/{id}:
    delete:
      summary: Cancel Email
      description: Cancel a scheduled email before delivery. Only emails with `scheduled` status can be cancelled.
      operationId: cancel-email
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the email
          schema:
            type: string
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DeleteEmailResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE 'https://api.nuntly.com/emails/em_01ka8k8s80gvx9604cn9am5st4' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.emails.cancel('em_01ka8k8s80gvx9604cn9am5st4');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.emails().cancel("em_01ka8k8s80gvx9604cn9am5st4");
    get:
      summary: Retrieve Email
      description: Returns an email with its current delivery status and metadata.
      operationId: retrieve-email
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the email
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmailResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/emails/em_01ka8k8s80gvx9604cn9am5st4' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.emails.retrieve('em_01ka8k8s80gvx9604cn9am5st4');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.emails().retrieve("em_01ka8k8s80gvx9604cn9am5st4");
  /emails/{id}/content:
    get:
      summary: Retrieve Email Content
      description: Returns presigned URLs to download the HTML, plain-text, and raw MIME source of a sent email.
      operationId: retrieve-email-content
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmailContentResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/emails/apk_01ka8k8s80gvx9604cn9am5st4/content' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.emails.content.retrieve('apk_01ka8k8s80gvx9604cn9am5st4');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.emails().content().retrieve("apk_01ka8k8s80gvx9604cn9am5st4");
  /emails/{id}/events:
    get:
      summary: Retrieve Email Events
      description: Returns the delivery event history for an email (sent, delivered, opened, bounced, etc.).
      operationId: retrieve-email-events
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmailEventsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/emails/apk_01ka8k8s80gvx9604cn9am5st4/events' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.emails.events.list('apk_01ka8k8s80gvx9604cn9am5st4');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.emails().events().list("apk_01ka8k8s80gvx9604cn9am5st4");
  /emails/bulk:
    post:
      summary: Send Bulk Emails
      description: Send up to 20 emails in a single request. Use `fallback` to set default values shared across all messages.
      operationId: send-bulk-emails
      tags:
        - Emails
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: Unique key to ensure the request is processed at most once. UUIDv4 recommended.
          schema:
            type: string
            minLength: 1
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBulkEmailsRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CreateBulkEmailsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST 'https://api.nuntly.com/emails/bulk' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"emails":[{"from":"Tomlinson AI <ray@info.tomlinson.ai>","to":"brian67@gmail.com","subject":"Verify your email address","text":"Thank you for signing up! Please verify your email address."}]}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.emails.bulk.send({
              emails: [{ from: 'Tomlinson AI <ray@info.tomlinson.ai>', to: 'brian67@gmail.com', subject: 'Verify your email address', text: 'Thank you for signing up! Please verify your email address.' }],
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.emails().bulk().send(CreateBulkEmailsRequest.builder()
                .emails(List.of(CreateBulkEmail.builder().from("Tomlinson AI <ray@info.tomlinson.ai>").to("brian67@gmail.com").subject("Verify your email address").text("Thank you for signing up! Please verify your email address.").build()))
                .build());
  /emails/bulk/{bulkId}:
    get:
      summary: Retrieve Bulk Emails
      description: Returns the emails submitted in a bulk request.
      operationId: retrieve-bulk-emails
      tags:
        - Emails
      parameters:
        - name: bulkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BulkEmailsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/emails/bulk/blk_01ka8k8s80gvx9604cn9am5st4' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.emails.bulk.list('blk_01ka8k8s80gvx9604cn9am5st4');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.emails().bulk().list("blk_01ka8k8s80gvx9604cn9am5st4");
  /emails/stats:
    get:
      summary: Retrieve Email Stats
      description: Returns aggregated daily sending statistics for the current period.
      operationId: retrieve-email-stats
      tags:
        - Emails
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmailsStatsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/emails/stats' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.emails.stats.retrieve();
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.emails().stats().retrieve();
  /inboxes:
    post:
      summary: Create Inbox
      description: Create a new inbox on a verified domain.
      operationId: create-inbox
      tags:
        - Inboxes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInboxRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InboxResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST 'https://api.nuntly.com/inboxes' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"address":"<address>"}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.inboxes.create({
              address: '<address>',
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.inboxes().create(CreateInboxRequest.builder()
                .address("<address>")
                .build());
    get:
      summary: List Inboxes
      description: List all inboxes.
      operationId: list-inboxes
      tags:
        - Inboxes
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: namespaceId
          in: query
          description: Filter by namespace.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/InboxesResponseItem"
                  nextCursor:
                    type:
                      - string
                      - "null"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/inboxes' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.inboxes.list();
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.inboxes().list();
  /inboxes/{inboxId}:
    delete:
      summary: Delete Inbox
      description: Soft-delete an inbox.
      operationId: delete-inbox
      tags:
        - Inboxes
      parameters:
        - name: inboxId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE 'https://api.nuntly.com/inboxes/ibx_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.inboxes.delete('ibx_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.inboxes().delete("ibx_01kabn43yqyxn2bx4ve84mczd3");
    get:
      summary: Retrieve Inbox
      description: Retrieve an inbox.
      operationId: retrieve-inbox
      tags:
        - Inboxes
      parameters:
        - name: inboxId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InboxResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/inboxes/ibx_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.inboxes.retrieve('ibx_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.inboxes().retrieve("ibx_01kabn43yqyxn2bx4ve84mczd3");
    patch:
      summary: Update Inbox
      description: Update an inbox.
      operationId: update-inbox
      tags:
        - Inboxes
      parameters:
        - name: inboxId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInboxRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PATCH 'https://api.nuntly.com/inboxes/ibx_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.inboxes.update('ibx_01kabn43yqyxn2bx4ve84mczd3', {});
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.inboxes().update("ibx_01kabn43yqyxn2bx4ve84mczd3", UpdateInboxRequest.builder().build());
  /inboxes/{inboxId}/messages:
    post:
      summary: Send Inbox Message
      description: Send a new message from an inbox.
      operationId: send-inbox-message
      tags:
        - Inboxes
      parameters:
        - name: inboxId
          in: path
          required: true
          schema:
            type: string
        - name: Idempotency-Key
          in: header
          required: false
          description: Unique key to ensure the request is processed at most once. UUIDv4 recommended.
          schema:
            type: string
            minLength: 1
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SendMessageResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST 'https://api.nuntly.com/inboxes/ibx_01kabn43yqyxn2bx4ve84mczd3/messages' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"to":"brian67@gmail.com","subject":"Verify your email address","text":"Thank you for signing up! Please verify your email address.","html":"<h1>Welcome</h1><p>Thank you for signing up! Please verify your email address.</p>"}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.inboxes.messages.send('ibx_01kabn43yqyxn2bx4ve84mczd3', {
              to: 'brian67@gmail.com',
              subject: 'Verify your email address',
              text: 'Thank you for signing up! Please verify your email address.',
              html: '<h1>Welcome</h1><p>Thank you for signing up! Please verify your email address.</p>',
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.inboxes().messages().send("ibx_01kabn43yqyxn2bx4ve84mczd3", SendMessageRequest.builder()
                .to(List.of("brian67@gmail.com"))
                .subject("Verify your email address")
                .text("Thank you for signing up! Please verify your email address.")
                .html("<h1>Welcome</h1><p>Thank you for signing up! Please verify your email address.</p>")
                .build());
  /inboxes/{inboxId}/threads:
    get:
      summary: List Inbox Threads
      description: List threads in an inbox.
      operationId: list-inbox-threads
      tags:
        - Threads
      parameters:
        - name: inboxId
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: labels
          in: query
          description: Comma-separated labels to filter by (AND logic). Threads with spam/trash are excluded by default unless explicitly requested via ?labels=spam or ?labels=trash.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ThreadsResponseItem"
                  nextCursor:
                    type:
                      - string
                      - "null"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/inboxes/ibx_01kabn43yqyxn2bx4ve84mczd3/threads' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.inboxes.threads.list('ibx_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.inboxes().threads().list("ibx_01kabn43yqyxn2bx4ve84mczd3");
  /messages:
    get:
      summary: List Messages
      description: List all received messages across inboxes.
      operationId: list-messages
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: domainId
          in: query
          description: Filter by domain.
          schema:
            type: string
        - name: from
          in: query
          description: Filter by sender address.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MessagesResponseItem"
                  nextCursor:
                    type:
                      - string
                      - "null"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/messages' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.messages.list();
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.messages().list();
  /messages/{messageId}:
    get:
      summary: Retrieve Message
      description: Retrieve a single message with inbox enrichment.
      operationId: retrieve-message
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          description: The email Message-ID header.
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MessageResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/messages/imsg_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.messages.retrieve('imsg_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.messages().retrieve("imsg_01kabn43yqyxn2bx4ve84mczd3");
    patch:
      summary: Update Message
      description: Update message labels. Only available for messages in user-created inboxes.
      operationId: update-message
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMessageRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PATCH 'https://api.nuntly.com/messages/imsg_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.messages.update('imsg_01kabn43yqyxn2bx4ve84mczd3', {});
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.messages().update("imsg_01kabn43yqyxn2bx4ve84mczd3", UpdateMessageRequest.builder().build());
  /messages/{messageId}/attachments:
    get:
      summary: List Message Attachments
      description: List all attachments for a message.
      operationId: list-message-attachments
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttachmentsResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/messages/imsg_01kabn43yqyxn2bx4ve84mczd3/attachments' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.messages.attachments.list('imsg_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.messages().attachments().list("imsg_01kabn43yqyxn2bx4ve84mczd3");
  /messages/{messageId}/attachments/{attachmentId}:
    get:
      summary: Retrieve Message Attachment
      description: Retrieve an attachment with a presigned download URL.
      operationId: retrieve-message-attachment
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
        - name: attachmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttachmentResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/messages/imsg_01kabn43yqyxn2bx4ve84mczd3/attachments/iatt_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.messages.attachments.retrieve('imsg_01kabn43yqyxn2bx4ve84mczd3', 'iatt_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.messages().attachments().retrieve("imsg_01kabn43yqyxn2bx4ve84mczd3", "iatt_01kabn43yqyxn2bx4ve84mczd3");
  /messages/{messageId}/content:
    get:
      summary: Retrieve Message Content
      description: Returns presigned URLs to download the HTML, plain-text, and raw MIME source of a received message.
      operationId: retrieve-message-content
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MessageContent"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/messages/imsg_01kabn43yqyxn2bx4ve84mczd3/content' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.messages.content.retrieve('imsg_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.messages().content().retrieve("imsg_01kabn43yqyxn2bx4ve84mczd3");
  /messages/{messageId}/forward:
    post:
      summary: Forward Message
      description: Forward a message to new recipients.
      operationId: forward-message
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          description: The RFC 5322 Message-ID header.
          schema:
            type: string
        - name: Idempotency-Key
          in: header
          required: false
          description: Unique key to ensure the request is processed at most once. UUIDv4 recommended.
          schema:
            type: string
            minLength: 1
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardMessageRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SendMessageResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST 'https://api.nuntly.com/messages/imsg_01kabn43yqyxn2bx4ve84mczd3/forward' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"to":"brian67@gmail.com","text":"Thank you for signing up! Please verify your email address."}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.messages.forward('imsg_01kabn43yqyxn2bx4ve84mczd3', {
              to: 'brian67@gmail.com',
              text: 'Thank you for signing up! Please verify your email address.',
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.messages().forward("imsg_01kabn43yqyxn2bx4ve84mczd3", ForwardMessageRequest.builder()
                .to(List.of("brian67@gmail.com"))
                .text("Thank you for signing up! Please verify your email address.")
                .build());
  /messages/{messageId}/reply:
    post:
      summary: Reply To Message
      description: Reply to a message. Set replyAll to true to reply to all recipients.
      operationId: reply-to-message
      tags:
        - Messages
      parameters:
        - name: messageId
          in: path
          required: true
          description: The RFC 5322 Message-ID header.
          schema:
            type: string
        - name: Idempotency-Key
          in: header
          required: false
          description: Unique key to ensure the request is processed at most once. UUIDv4 recommended.
          schema:
            type: string
            minLength: 1
            maxLength: 255
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplyMessageRequest"
      responses:
        "202":
          description: Request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SendMessageResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST 'https://api.nuntly.com/messages/imsg_01kabn43yqyxn2bx4ve84mczd3/reply' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"text":"Thank you for signing up! Please verify your email address.","html":"<h1>Welcome</h1><p>Thank you for signing up! Please verify your email address.</p>","replyAll":false}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.messages.reply('imsg_01kabn43yqyxn2bx4ve84mczd3', {
              text: 'Thank you for signing up! Please verify your email address.',
              html: '<h1>Welcome</h1><p>Thank you for signing up! Please verify your email address.</p>',
              replyAll: false,
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.messages().reply("imsg_01kabn43yqyxn2bx4ve84mczd3", ReplyMessageRequest.builder()
                .text("Thank you for signing up! Please verify your email address.")
                .html("<h1>Welcome</h1><p>Thank you for signing up! Please verify your email address.</p>")
                .replyAll(false)
                .build());
  /namespaces:
    post:
      summary: Create Namespace
      description: Create a new namespace.
      operationId: create-namespace
      tags:
        - Namespaces
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNamespaceRequest"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NamespaceResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST 'https://api.nuntly.com/namespaces' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{"name":"<name>"}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.namespaces.create({
              name: '<name>',
            });
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.namespaces().create(CreateNamespaceRequest.builder()
                .name("<name>")
                .build());
    get:
      summary: List Namespaces
      description: List all namespaces.
      operationId: list-namespaces
      tags:
        - Namespaces
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NamespacesResponseItem"
                  nextCursor:
                    type:
                      - string
                      - "null"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/namespaces' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.namespaces.list();
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.namespaces().list();
  /namespaces/{namespaceId}:
    delete:
      summary: Delete Namespace
      description: Soft-delete a namespace. Rejects if it has active inboxes.
      operationId: delete-namespace
      tags:
        - Namespaces
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE 'https://api.nuntly.com/namespaces/ns_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.namespaces.delete('ns_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.namespaces().delete("ns_01kabn43yqyxn2bx4ve84mczd3");
    get:
      summary: Retrieve Namespace
      description: Retrieve a namespace with inbox stats.
      operationId: retrieve-namespace
      tags:
        - Namespaces
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NamespaceDetail"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/namespaces/ns_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.namespaces.retrieve('ns_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.namespaces().retrieve("ns_01kabn43yqyxn2bx4ve84mczd3");
    patch:
      summary: Update Namespace
      description: Update a namespace.
      operationId: update-namespace
      tags:
        - Namespaces
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNamespaceRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PATCH 'https://api.nuntly.com/namespaces/ns_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.namespaces.update('ns_01kabn43yqyxn2bx4ve84mczd3', {});
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.namespaces().update("ns_01kabn43yqyxn2bx4ve84mczd3", UpdateNamespaceRequest.builder().build());
  /namespaces/{namespaceId}/inboxes:
    get:
      summary: List Namespace Inboxes
      description: List inboxes in a namespace.
      operationId: list-namespace-inboxes
      tags:
        - Namespaces
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/InboxesResponseItem"
                  nextCursor:
                    type:
                      - string
                      - "null"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/namespaces/ns_01kabn43yqyxn2bx4ve84mczd3/inboxes' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.namespaces.inboxes.list('ns_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.namespaces().inboxes().list("ns_01kabn43yqyxn2bx4ve84mczd3");
  /organizations:
    get:
      summary: List Organizations
      description: Returns all organizations the authenticated user belongs to.
      operationId: list-organizations
      tags:
        - Organizations
      parameters:
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrganizationsResponseItem"
                  nextCursor:
                    type:
                      - string
                      - "null"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/organizations' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.organizations.list();
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.organizations().list();
  /organizations/{id}:
    get:
      summary: Retrieve Organization
      description: Returns the organization's profile, plan, region, and account status.
      operationId: retrieve-organization
      tags:
        - Organizations
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrganizationResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/organizations/org_01ka8k8s80gvx9604cn9am5st4' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.organizations.retrieve('org_01ka8k8s80gvx9604cn9am5st4');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.organizations().retrieve("org_01ka8k8s80gvx9604cn9am5st4");
  /organizations/{id}/usage:
    get:
      summary: Retrieve Organization Usage
      description: Returns current period usage metrics (daily and monthly) for sending and receiving, against your plan limits.
      operationId: retrieve-organization-usage
      tags:
        - Organizations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrganizationUsageResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/organizations/apk_01ka8k8s80gvx9604cn9am5st4/usage' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.organizations.usage.retrieve('apk_01ka8k8s80gvx9604cn9am5st4');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.organizations().usage().retrieve("apk_01ka8k8s80gvx9604cn9am5st4");
  /threads/{threadId}:
    get:
      summary: Retrieve Thread
      description: Retrieve a thread. Pass ?markRead=true to automatically remove the unread label from all messages.
      operationId: retrieve-thread
      tags:
        - Threads
      parameters:
        - name: threadId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ThreadResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/threads/thr_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.threads.retrieve('thr_01kabn43yqyxn2bx4ve84mczd3');
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.threads().retrieve("thr_01kabn43yqyxn2bx4ve84mczd3");
    patch:
      summary: Update Thread
      description: Update thread labels and agent assignment. Label operations apply to all messages in the thread.
      operationId: update-thread
      tags:
        - Threads
      parameters:
        - name: threadId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateThreadRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/IdResponse"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PATCH 'https://api.nuntly.com/threads/thr_01kabn43yqyxn2bx4ve84mczd3' \
              -H 'Authorization: Bearer apk_xxx' \
              -H 'Content-Type: application/json' \
              -d '{}'
        - lang: JavaScript
          source: |-
            import { Nuntly } from '@nuntly/sdk';

            const client = new Nuntly({
              apiKey: process.env['NUNTLY_API_KEY'],
            });

            const response = await client.threads.update('thr_01kabn43yqyxn2bx4ve84mczd3', {});
        - lang: Java
          source: |-
            import com.nuntly.sdk.Nuntly;
            import com.nuntly.sdk.ClientOptions;
            import com.nuntly.sdk.models.*;

            var nuntly = Nuntly.create(ClientOptions.builder()
                .apiKey(System.getenv("NUNTLY_API_KEY"))
                .build());

            var response = nuntly.threads().update("thr_01kabn43yqyxn2bx4ve84mczd3", UpdateThreadRequest.builder().build());
  /threads/{threadId}/messages:
    get:
      summary: List Thread Messages
      description: List messages in a thread (chronological order).
      operationId: list-thread-messages
      tags:
        - Threads
      parameters:
        - name: threadId
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/CursorParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ThreadMessagesResponseItem"
                  nextCursor:
                    type:
                      - string
                      - "null"
                required:
                  - data
                additionalProperties: false
        "500":
          description: An error response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET 'https://api.nuntly.com/threads/thr_01kabn43yqyxn2bx4ve84mczd3/messages' \
              -H 'Authorization: Bearer apk_xxx'
        - lang: JavaScript
          source: |-
[...]
